 <header>
    <nav>
      <ul>
        <li><a href="http://localhost:3001/login">Login</a></li>
        <li><a href="http://localhost:3001/user/createUser">SignUp</a></li>
        <li><a href="#">Guest View</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Characters</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </nav>
  </header>