 <header>
    <nav>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/user/createUser">SignUp</a></li>
        <li><a href="#">Guest View</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/events/">Events</a></li>
      </ul>
    </nav>
  </header>