<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user/createUser">SignUp</a></li>
      <li><a href="/user/updateUser">Account Overview</a></li>
      <li><a href="/guest">Guest View</a></li>
      <li><a href="/characters">Characters</a></li>
      <li><a href="/events/">Events</a></li>
    </ul>
  </nav>
</header>
