<!DOCTYPE html>
<html>
  <head>
    <title>Diablo Denizens</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      
    </main>

    <footer>
      
    </footer>
  </body>
</html>
