<!DOCTYPE html>
<html>
  <head>
    <title>Diablo Denizens</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <h1>Welcome to Diablo Denizens!</h1>
    <p><%= message %></p>
  </body>
</html>
