<form action="/user/deleteUser" method="post">
    <div>
        <label for="id">User ID</label>
        <input id="name" name="name" type="text" autocomplete="name" required />
    </div>
    <!-- <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" autocomplete="email" required />
    </div>
  <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="text" autocomplete="password" required />
    </div> -->
    <div>
        <button type="submit">Delete User</button>
    </div>
</form> 