<form action="/characters/createCharacter" method="post">
    <div>
        <label for="class">Class</label>
        <input id="class" name="class" type="text" autocomplete="Character Class" required />
    </div>
    <div>
        Hardcore: 
        <input type="radio" id="true" name="hardcore" value="True">
        <label for="true">True</label><br>
        <input type="radio" id="false" name="hardcore" value="False">
        <label for="false">False</label><br>
    </div>
    <div>
        <button type="submit">Create Character</button>
    </div>
</form> 